/* Estilo para imágenes */
.anime-item img {
    width: 210px; /* Ancho fijo */
    height: 160px; /* Alto fijo */
    object-fit: cover; /* Mantiene la relación de aspecto y llena el contenedor */
    border-radius: 10px; /* Bordes redondeados */
    margin-bottom: 10px; /* Espacio inferior */
}

/* Contenedor del encabezado */
.header-container {
    display: flex;
    align-items: center; /* Alinea verticalmente el logo y el menú */
    justify-content: space-between; /* Mantiene el logo y el menú en los extremos */
    padding: 0px; /* Eliminé el padding */
    background-color: transparent; /* Fondo transparente */
    margin-top: -50px; /* Levanta el encabezado */
}

/* Contenedor del logo */
.logo-container {
    display: flex;
    align-items: center; /* Alinea verticalmente el logo y el nombre del sitio */
}

.logo {
    margin-top: 0px; /* Eliminé el margin-top */
    width: 120px; /* Tamaño del logo */
    height: auto;
    margin-right: 20px; /* Espacio entre el logo y el nombre del sitio */
}

/* Navegación */
nav {
    margin-top: 0px; /* Eliminé el margin-top */
    margin-right: 120px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

nav ul li {
    margin: 0 15px;
    opacity: 0;
    transform: translateY(20px);
}

nav ul li a {
    display: block;
    padding: 10px 20px;
    background-color: #4045A6;
    color: white;
    text-decoration: none;
    border-radius: 18px;
    transition: background-color 0.3s ease-in-out;
}

nav ul li a:hover {
    background-color: #7A83DC;
}

/* Títulos */
h1 {
    margin-top: -60px; /* Reduce el margin-top para levantar el título */
    color: white;
    font-size: 50px;
    font-family: immortal;
}

h3 {
    color: black;
}

/* Ajustes de altura */
body {
    height: 150vh; /* Aumenta la altura del body */
}

.content {
    min-height: 80vh; /* Aumenta la altura mínima del contenido */
}

footer {
    margin-top: 20px; /* Añade un margen superior al footer para separar del contenido */
}
